@use '../css/variables.scss';
@use '../css/mixins.scss';

.Menu {
  &__header {
    @include header-background;

    &--text {
      @include header-text-shadow;
      color: $color--white;
      padding: 5rem 3rem;
    }
  }

  &__our-menu {
    padding: 2rem 3rem;

    &__section {
      padding: 2rem 0;

      &-title {
        color: $color---green-light;
        border-bottom: 1px solid $color---green-light;
        margin-bottom: 2rem;
      }

      &-item {
        margin-top: 1rem;
        color: $color---green-dark;
        font-weight: 400;
      }
    }
  }
}
