/***************************/
/********** Fonts **********/
/***************************/
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;700&display=swap');

/****************************/
/********** Mixins **********/
/****************************/
/* header background */
@mixin header-background {
  background: linear-gradient(
      to bottom right,
      rgba($color---green-dark, 0.7),
      rgba($color---green-light, 0.1)
    ),
    url('./assets/images/cafe3.jpg');
  background-size: cover;
}

@mixin header-text-shadow {
  text-shadow: 1px 1px 2px rgba($color--grey, 0.6);
}

/* link button 
________________________________*/
@mixin btn-default {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  background: $color---green-light;
  color: $color--white;
  text-decoration: none;
  cursor: pointer;
  transition: $transition-default;

  &:hover {
    background: $color---gold;
  }
}

/* float clear-fix 
________________________________*/
@mixin clear-fix {
  &:after {
    display: block;
    content: '';
    clear: both;
  }
}

/* ul decoration
________________________________*/
@mixin ul-default {
  list-style-type: none;
}

/* menu borders and hovers
________________________________*/
@mixin menu-borders {
  border-bottom: 1px solid rgba($color--white, 0.3);
}

/* section spacing
________________________________*/
@mixin section-content {
  padding: 10rem 3rem;
}

@mixin section-wide {
  padding: 10rem 0rem;
}

/****************************/
/****************************/
/****************************/

/* colors
________________________________*/
$color---green-dark: #002626;
$color---green-light: #0e4749;
$color---gold: #d9962b;
$color---beige: #d1ab6d;
$color--linen: #efe7da;
$color--black: #121212;
$color--grey: #2b2b2b;
$color--white: #fafafa;

/* transitions
________________________________*/
$transition-default: 0.2s all;

/* font sizes
________________________________*/
h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

/* reset
________________________________*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  font-family: 'Frank Ruhl Libre', serif;
}

/* header
________________________________*/
.header {
  @include menu-borders;
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
  width: 100%;

  & > * {
    display: inline-block;
  }

  &__logo {
    padding: 3rem 0 0 3rem;

    & img {
      max-width: 10rem;
    }
  }

  &__menu {
    display: flex;
    align-items: flex-end;
    padding-right: 2rem;

    & ul {
      @include ul-default;
      margin-left: 2rem;
    }

    & li {
      display: inline-block;
      padding: 1rem;
      border-bottom: 1px solid transparent;
      transition: $transition-default;

      &:hover {
        @include menu-borders;
        border-color: $color--white;
      }

      & a {
        text-decoration: none;
        color: $color--white;
      }
    }
  }
}

/* hero
________________________________*/
.hero {
  @include header-background;
  height: 95vh;
  width: 100%;
  display: flex;

  &__text {
    @include header-text-shadow;
    position: absolute;
    top: 50%;
    left: 10%;
    color: $color--white;
  }
}

/* info
________________________________*/
.info {
  @include section-content;
  display: flex;
  justify-content: space-evenly;

  &__text {
    &--hours {
      @include ul-default;
    }
  }

  &__map {
    max-width: 50%;
  }
}

/* order online
________________________________*/
.order-online {
  @include section-content;
  background: $color---green-light;
  color: $color--white;
  display: flex;
  align-items: center;
  justify-content: center;

  &__text {
    text-align: center;

    & h2 {
      margin-bottom: 2rem;
    }

    & p {
      margin-bottom: 2rem;
    }
  }

  &__button {
    @include btn-default;
  }
}

/* images
________________________________*/
.image-mason {
  @include section-wide;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:nth-child(2n) {
      grid-column: span 2;
    }

    &:nth-child(4n) {
      grid-row: span 2;
    }
  }

  &:nth-child(2n) {
    grid-column: span 2;
  }

  &:nth-child(4n) {
    grid-row: span 2;
  }
}

/* footer
________________________________*/
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  &__right {
    & a {
      margin-left: 1rem;
    }
  }
}

/* Menu
________________________________*/
.Menu {
  &__header {
    @include header-background;

    &--text {
      @include header-text-shadow;
      color: $color--white;
      padding: 5rem 3rem;
      background: linear-gradient(to top, #fff, 1%, transparent, transparent);
    }
  }
}
