//color palette
$color---green-dark: #002626;
$color---green-light: #0e4749;
$color---gold: #d9962b;
$color---beige: #d1ab6d;
$color--linen: #efe7da;
$color--black: #121212;
$color--grey: #2b2b2b;
$color--white: #fafafa;
