/****************************/
/********** Mixins **********/
/****************************/

/* link button 
________________________________*/
@mixin btn-default {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  background: $color---green-light;
  color: $color--white;
  text-decoration: none;
  cursor: pointer;
  transition: $transition-default;

  &:hover {
    background: $color---gold;
  }
}

/* float clear-fix 
________________________________*/
@mixin clear-fix {
  &:after {
    display: block;
    content: '';
    clear: both;
  }
}

/* ul decoration
________________________________*/
@mixin ul-default {
  list-style-type: none;
}

/****************************/
/****************************/
/****************************/

/* colors
________________________________*/
$color---green-dark: #002626;
$color---green-light: #0e4749;
$color---gold: #d9962b;
$color---beige: #d1ab6d;
$color--linen: #efe7da;
$color--black: #121212;
$color--grey: #2b2b2b;
$color--white: #fafafa;

/* transitions
________________________________*/
$transition-default: 0.2s all;

/* font sizes
________________________________*/
h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

/* reset
________________________________*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
}

/* header
________________________________*/
.header {
  display: flex;
  justify-content: center;

  & > * {
    display: inline-block;
  }

  &__logo {
    background: $color--linen;
    padding: 2rem;
    border: 1px solid #333;
  }

  &__menu {
    display: flex;
    align-items: flex-end;

    & ul {
      @include ul-default;
      margin-left: 2rem;
    }

    & li {
      display: inline-block;
      padding: 1rem;
      background-color: $color--linen;

      & a {
        text-decoration: none;
      }
    }
  }
}

/* header
________________________________*/
.hero {
  background: $color--linen;
  height: 90vh;
  width: 100%;
  display: flex;

  &__text {
    position: absolute;
    top: 40%;
    left: 20%;
  }
}

/* order online
________________________________*/
.order-online {
  padding: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &__text {
    text-align: center;

    & h2 {
      margin-bottom: 2rem;
    }

    & p {
      margin-bottom: 2rem;
    }
  }

  &__button {
    @include btn-default;
  }
}

/* info
________________________________*/
.info {
  > div {
    float: left;
  }

  &:nth-child(2) {
    @include clear-fix;
  }

  &__text {
    &--hours {
      & ul {
        @include ul-default;
      }
    }
  }
}
