//use variables

.footer {
  border-top: 1px solid $color--grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  &__right {
    & a {
      margin-left: 1rem;
    }
  }
}
